

.navbar-custom{
    background-color: #19180A;
}

.navbar-toggler{
    background-color: #FFD289;
    }

.navbar-toggler-icon{
   background-color: #19180A;
}

.navbar-brand{
    color: #FFD289;
    font-style: italic;
    font-size: x-large;
}

.nav-link{
    color: #FFD289;   
}

.nav-item{
    font-style: italic;
    font-size: larger;
}

.bg-custom{
    background-color: #19180A;
}


.text{
    color: #19180A;
}

h1{
    color: #FFD289;
}
.Lebensraum{
    color: #931F1D;
}

.btn-custom{
    background-color:#931F1D;
    color:#FFD289;
}

.bg-custom2{
    background-color:#FFD289;
}

.bg-custom3{
    background-color: #19180A;
}

.bg-custom4{
    background-color: #19180A;
    color: #FFD289;
}

.bg-custom5{
    background-color: #931F1D;
}

.card-img{
    height: 15cm;
    width: 10cm;
    align-self: center;
}

.text-custom{
    color: #931F1D;
}

.text-custom2{
    color: #FFD289;
}

.card-title{
    color: #FFD289;
}

.bi{
    color: #FFD289;
}

.bg-Katze{
    background-size: cover;
    min-height: 80vh;
    position: relative;
    color:#FFD289;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.title-katze{
    color:#FFD289;
    font-size: 4rem;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.row{
    background-color: #19180A;
}

.col{
    background-color:#19180A
}

h4{
    color:#931F1D
}

.Kontakt{
    color:#19180A
}

#worker-img{
    width: 15rem;
    height: 15rem;
}

